.wrapper .content-wrapper {
    height: 100% !important;
}
.preloader {
    color: #fff;
    background: rgba(108, 117, 125, 1);
}

.bg-dash {
    position: relative;
}
.bg-dash--img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    opacity: 0.2;
}
